body {
	background-color: #ffffff;
	color: #484848;
	margin: 0;
}

/* Begin Navigation */

nav {
	display: block;
    padding: 30px;
    padding-left: 50px;
    height: 30px;
    background-color: #FFF;
    color: #fff;
}

nav a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav a:hover { 
  	color: #086375; 
}

.logo { 
 	float: left;
  	display: inline-block;
}

.navlink {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #262626;
	text-decoration: none;
}

.button {
	background-color: #75DDDD;
	border-radius: 25px;
	border: 10px; 
	padding: 0.5rem 1.5rem;
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	float: left;
}

.account {
	float: right;
}

/* End Naviagtion */

/* Begin Header Image */

#hero {
	display: block;
	margin: 0 auto;
	width: 100%;
	z-index: 0;
}

/* End Header Image */

/* Begin Introduction */

#section_one {
	margin-top: 5em;
}

#headline_one {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 2em;
	color: #086375;
	text-align: center;
}

#intro {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	text-align: center;
	display: block;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 2em;
}

#intro_services {
	padding-left: 65px;
	padding-right: 65px;
}	

.intro_column {
	display: inline-block;
	margin-left: 40px;
	margin: 0;
	float: left;
	width: 260px;
  	height: 300px;
	padding: 20px;
	text-align: center;
}

.clearfix:after {
  	visibility: hidden;
 	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
 	height: 0;
}

/* End Introduction */

/* Begin 'How It Works' */

#section_two {
	display: block;
    height: 500px;
	margin-top: 15em;
	width: 100%;
	background-color: #F2F1F2;
}

#headline_two {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 2em;
	color: #086375;
	text-align: center;
	padding-top: 3em;
}

#hiw {
	padding-left: 65px;
	padding-right: 65px;
}

.hiw_column {
	display: inline-block;
	margin-left: 40px;
	margin: 0;
	float: left;
	width: 260px;
  	height: 300px;
	padding: 20px;
	text-align: center;
}

.clearfix:after {
  	visibility: hidden;
 	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
 	height: 0;
}

/* End 'How It Works' */

h1 {
	color: #086375;
}

h2 {
	font-family: century-gothic, sans-serif;
	font-weight: 900;
	font-style: normal;	
	font-size: 2em;
	color: #086375;
	text-align: center;
}

h5 {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
}

p {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

footer {
    display: block;
    padding: 50px;
    height: 200px;
    background-color: #086375;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
}

.subhead {
	font-family: century-gothic, sans-serif;
	font-weight: 700;
	font-style: bold;
}

.ready {
	background-color: #086375;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 36px;
	color: #fff;
}

.footlink {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#hero {
	display: block;
	margin: 0 auto;
}

#intro {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	text-align: center;
}

#wrapper {
    box-sizing: border-box;
	padding: 10px;
	padding-top: 0px
}

#two_column {
	background-color: #086375;
	/* Keeping border element in place */
	border: none;
	/* Keeping border element in place */
	padding: 20px;
	padding-bottom: 80px;
}

#left {
	background-color: #086375;
	/* Keeping border element in place */
	border: none;
	/* Keeping border element in place */
	padding: 20px;
	float: left;
	width: 10%;
}

#right {
	background-color: #086375;
	/* Keeping border element in place */
	border: none;
	/* Keeping border element in place */
	padding: 20px;
	float: right;
	width: 82%;
}

#copyright {
	display: block;
	background-color: #086375;
	padding: 20px;
}