body {
	background-color: #fff;
	color: #484848;
}

nav {
	display: block;
    padding: 15px;
    background-color: #fff;
    color: #fff;
}

header {
	background-repeat:no-repeat;
    background-color:#000000;
    background: url(washer_homepage_rinsed.png) no-repeat;
    width: 100%;
    height: 235px;
    padding: 0;
    margin: auto 0;

}

h1 {
	color: #086375;
}

h2 {
	font-family: century-gothic, sans-serif;
	font-weight: 900;
	font-style: normal;	
	color: #086375
}

p {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.subhead {
	font-family: century-gothic, sans-serif;
	font-weight: 700;
	font-style: bold;
}

.prefooter {
	background-color: #fff;
	color: #086375;
	text-align: center;
	padding: 50px;
}

.ready {
	background-color: #086375;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 36px;
	color: #fff;
}

#wrapper {
    box-sizing: border-box;
	padding: 10px;
	padding-top: 0px
}

footer {
    display: block;
    justify-content: left;
    padding: 50px;
    background-color: #086375;
    color: #fff;
}