body {
	background-color: #fff;
	color: #484848;
	margin: 0;
}

nav {
	display: block;
    padding: 15px;
    background-color: #fff;
    color: #fff;
}

h1 {
	color: #086375;
}

h2 {
	font-family: century-gothic, sans-serif;
	font-weight: 900;
	font-style: normal;	
	font-size: 2em;
	color: #086375;
	text-align: center;
}

p {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.subhead {
	font-family: century-gothic, sans-serif;
	font-weight: 700;
	font-style: bold;
}

.prefooter {
	background-color: #fff;
	color: #086375;
	text-align: center;
	padding: 50px;
}

.ready {
	background-color: #086375;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 36px;
	color: #fff;
}

#button-one {
	padding: 50px;
}

#intro {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	text-align: center;
}


#wrapper {
    box-sizing: border-box;
	padding: 10px;
	padding-top: 0px
}

footer {
    display: block;
    justify-content: left;
    padding: 50px;
    background-color: #086375;
    color: #fff;
}