body {
	background-color: #E8F0F2;
	color: #484848;
}

h1 {
	color: #086375;
}

h2 {
	font-family: century-gothic, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: #086375
}

p {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

ul {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#slogan {
	font-family: century-gothic, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #086375
}

#logo {
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
}

.subhead {
	font-family: century-gothic, sans-serif;
	font-weight: 700;
	font-style: normal;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: block;
    justify-content: left;
    padding: 40px;
    background-color: #086375;
    color: #fff;
}